<div class='wrapper'>
    <div class='login container'>
        <form class='login--form'>
            <div class='login--header'>Вход</div>
            <div class='login--form-items'>
                <div class='login--form-item'>
                    <label for="name">Логин</label>
                    <input type="text" id="name">
                </div>
                <div class='login--form-item'>
                    <label for="password">Пароль</label>
                    <input type="password" id="password">
                </div>
            </div>
            <div class='login--submit'>
                <input type='submit' value="Авторизоваться" class='login--submit-input'>
                <a href='#'>Нет аккаунта?</a>
            </div>
        </form>
    </div>
</div>