<div class='wrapper'>
    <div class='profile container'>
        <div class='profile--logo'>
            <div class='img'>img</div>
            <div class='profile--name'>Иван</div>
        </div>
        <div class='profile--data'>
            {{#each profileData}}
                <div class='profile--data-item'>
                    <span class='data-item--item'>{{this.item}}</span>
                    <span class='data-item--info'>{{this.info}}</span>
                </div>
            {{/each}}
        </div>
        <div class='profile--settings'>
            <div class='profile--settings-item'>
                <a href='#'>Изменить данные</a>
            </div>
            <div class='profile--settings-item'>
                <a href='#'>Изменить пароль</a>
            </div>
            <div class='profile--settings-item profile--settings-item_red'>
                <a href='#'>Выйти</a>
            </div>
        </div>
    </div>
</div>