<div class='profile'>
    <div class='profile--logo'>
        <div class='profile--img' id='avatar'>img</div>
        <div class='profile--name'>Иван</div>
    </div>
    <div class='profile--data'>
        {{#each profileData}}
            {{{this}}}
        {{/each}}
    </div>
</div>