<div class='chat-wrapper'>
    <div class='chats'>
        <div class='chats-header'>
            Profile
            Search
        </div>
        <div class='chats-body'>
            {{#each chatData}}
                <div class='chat-item'>
                    <div class='chat-item-logo'>
                        <div class='chat-item-logo-img'></div>
                    </div>
                    <div class='chat-item-message'></div>
                    <div class='chat-item-info'></div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class='chat-messages'>

    </div>
</div>